body {
  display: flex;
}

.my_projects{
  display: flex;
}

.skills {
  padding: 15px 0 0 15px;
  color: #595959;
}

aside {
  background: #E0EBFE;
  width: 40vw;
  border-radius: 30px;
}

main {
  padding: 100px 0 0 40px;
}

.color_text {
  color: #2979FF;
}

.link {
  color: #2979FF;
  text-decoration: none;
}

.images {
  margin-top: 40px;
}
figure {
  width: 60%;
}

.company {
  color: #2979FF;
}

.time {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px; /* corrected property */
  color: #A8A8A8;
  margin: 12px 0 8px 0;
}

h2 {
  font-size: 35px;
}

/* aboutMe */
.prof {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}

.descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

@media (max-width: 600px) {
  .images {
    display: none;
  }
  figure {
  width: 40%;
  }
}

.contact,
.skills1,
.skills2 {
  margin: 48px 0 0 40px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 27px;
  color: #161D2A;
  margin-bottom: 8px;
}

.type {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #161D2A;
  margin-right: 8px;
}

.c1 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979FF;
}

.list {
  margin: 12px;
  padding: 12px;
}

.li {
  color: #6D9BF5;
}

.spa {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161D2A;
}

.duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-left: 16px;
}
